@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "JINS_Next", "Noto Sans TC", "Helvetica Neue", "Helvetica", "PingFang TC", "Arial", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

body {
  background-color: #ececec;
}

body i {
  font-size: 1.35rem;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2.5rem;
}

header div.logo {
  display: flex;
  cursor: pointer;
}

header div.logo h1 {
  color: #da0024;
}

header div.navbar {
  margin-left: 1rem;
  cursor: pointer;
}

header nav.nav {
  padding-right: 55%;
}

header nav.nav ul {
  display: flex;
}

header nav.nav ul li {
  list-style-type: none;
  padding-right: 2rem;
}

header nav.nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.75rem;
}

header div.search {
  margin-right: 1rem;
  cursor: pointer;
}

section.first {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 50%;
}

section.first div.pic {
  display: flex;
  position: absolute;
  left: -100vw;
}

section.first div.pic img.img {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

section.second {
  min-height: 70vh;
  width: 100%;
  padding: 1rem;
  position: relative;
}

section.second div.title {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

section.second div.title h3 {
  font-size: 2rem;
}

section.second div.title ul {
  display: flex;
  list-style-type: none;
  margin-top: 1rem;
}

section.second div.title ul li {
  margin-right: 1.25rem;
}

section.second div.title ul li a {
  text-decoration: none;
  color: #000;
  outline: none;
}

section.second div.pic {
  display: flex;
}

section.second div.pic ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border: 1px solid;
  margin-left: 2.25rem;
}

section.second div.pic ul li {
  padding: 2rem;
}

section.second div.pic ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

section.second div.pic ul li a img {
  width: 25vw;
  height: 20vw;
  box-shadow: 0 8px 6px -6px #646464;
}

section.second div.pic ul li a p {
  margin: 1rem;
  line-height: 2;
}

section.second button.viewmore {
  background-color: #37455E;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 1.25rem;
  position: absolute;
  bottom: 2px;
  left: 5%;
  cursor: pointer;
  transition: all 0.5s;
}

section.second button.viewmore:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

section.second i {
  padding-right: 15px;
}

section.third {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
}

section.third div.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;
}

section.third div.title h3 {
  font-size: 2rem;
}

section.third div.title button.viewall {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 3px;
  padding: 1rem 2rem;
  transition: all 0.5s;
}

section.third div.title button.viewall:hover {
  background-color: #37455E;
  color: #fff;
  border: none;
}

section.third div.pic {
  display: flex;
  justify-content: center;
}

section.third div.pic ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

section.third div.pic ul li {
  padding: 2rem;
}

section.third div.pic ul li img {
  width: 25vw;
  height: 25vw;
}

section.third div.pic ul li p {
  color: #da0024;
  font-size: 0.75rem;
  text-align: center;
  padding-top: 2rem;
}

section.forth {
  margin-top: 5rem;
}

section.forth div.slogan ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1rem;
}

section.forth div.slogan ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

section.forth div.slogan ul li img {
  padding: 1rem 2rem;
}

section.fifth {
  overflow-x: hidden;
  position: relative;
  margin-top: 5rem;
}

section.fifth div.store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.fifth div.store img {
  background-position: center;
  background-size: cover;
}

section.fifth div.store div {
  width: 30vw;
  height: 20vw;
  display: flex;
  position: absolute;
}

section.fifth div.store div div.white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fff;
}

section.fifth div.store div div.white p {
  padding: 1.75rem;
  border: 1px solid;
  line-height: 2.5;
}

section.fifth button.store {
  background-color: #37455E;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  cursor: pointer;
  transition: all 0.5s;
  padding: 1rem 2rem;
}

section.fifth button.store:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

section.fifth i {
  margin-right: 20px;
}

footer.footer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

footer.footer div.menu {
  padding: 2rem;
}

footer.footer div.menu h3 {
  color: #37455E;
}

footer.footer div.menu ul {
  padding-right: 1rem;
  list-style-type: none;
}

footer.footer div.menu ul li {
  padding-top: 1rem;
}

footer.footer div.menu ul li a {
  text-decoration: none;
  color: #37455E;
}

footer.footer div.menu ul::before {
  display: block;
  content: "";
  width: 30px;
  height: 3px;
  color: #da0024;
  margin-bottom: 18px;
}

footer.footer div.media-country {
  padding: 5rem 9rem;
}

footer.footer div.media-country div.media {
  padding-bottom: 3rem;
}

footer.footer div.media-country div.media img {
  padding-right: 1rem;
}

footer.footer div.media-country div.country p {
  color: #37455E;
  font-size: 0.8rem;
  line-height: 2;
}

footer.footer div.media-country div.country select.select {
  background-image: url("https://www.jins.com/tw/images/icon/down-blue.svg");
  background-repeat: no-repeat;
  appearance: none;
  background-position: right 25px center;
  border: 1px solid #000;
  outline: 0;
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 5px;
  color: #37455E;
}

@media screen and (max-width: 1320px) {
  .mb-none {
    display: none;
  }
  section.second div.pic ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.second div.pic ul li a img {
    width: 50vw;
    height: 30vw;
  }
  section.second button.viewmore {
    left: 30%;
  }
  section.third div.title button.viewall {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  section.third div.pic ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  section.third div.pic ul li img {
    width: 60vw;
    height: 60vw;
  }
  section.forth div.slogan {
    flex-direction: column;
  }
  section.forth div.slogan ul li {
    flex-direction: column;
  }
  section.forth div.slogan ul li p {
    text-align: center;
  }
  section.fifth div.store div {
    width: 50vw;
    height: 35vw;
  }
  section.fifth div.store div div.white p {
    padding: 1rem;
    text-align: center;
  }
  section.fifth button.store {
    left: 40%;
    bottom: 30%;
  }
  footer.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  footer.footer div.menu {
    padding: 0.5rem;
    background-image: url("https://www.jins.com/tw/images/icon/down-blue.svg");
    background-repeat: no-repeat;
    background-position: right 25px center;
  }
  footer.footer div.menu h3 {
    border-bottom: 1px solid #37455E;
  }
  footer.footer div.media-country {
    padding: 0.5rem;
  }
  footer.footer div.media-country div.media {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  section.fifth div.store div {
    width: 80vw;
    height: 80vw;
  }
  section.fifth div.store div div.white p {
    padding: 0.75rem;
    text-align: center;
  }
  section.fifth button.store {
    padding: 0.5rem 1rem;
    left: 30%;
    bottom: 30%;
  }
}

@media screen and (min-width: 1320px) {
  .pc-none {
    display: none;
  }
}
/*# sourceMappingURL=jins.css.map */