*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:"JINS_Next", "Noto Sans TC", "Helvetica Neue", "Helvetica", "PingFang TC", "Arial", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

body{
    background-color: #ececec;

    i{
        font-size: 1.35rem;
        pointer-events: none;
    }
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:1rem 2.5rem;
    // border: 1px solid;

    div.logo{
        display:flex;
        cursor:pointer;

        h1{
            color:#da0024;
        }

    }

    div.navbar{
        margin-left:1rem;
        cursor:pointer;
    }

    nav.nav{
        // border:1px solid;
        padding-right:55%;
        ul{
            display:flex;

            li{
                list-style-type: none;
                padding-right:2rem;
                
                a{
                    text-decoration: none;
                    color:#000;
                    font-size:0.75rem;
                }
            }
        }
    }
        div.search{
            margin-right:1rem;
            cursor:pointer;
        }
}


section.first{
    position:relative;
    overflow-x:hidden;
    padding-bottom:50%;
    div.pic{
        display:flex;
        position:absolute;
        left:-100vw;
        img.img{
            display:flex;

            background-size:cover;
            background-position:center;
            width:100vw;
        }
    }

}

section.second{
    min-height:70vh;
    width:100%;
    // background-color: #fff;
    padding:1rem;
    position: relative;

    div.title{
        display:flex;
        flex-direction: column;
        margin:4rem;

        h3{
            font-size:2rem;
        }
        ul{
            display:flex;
            list-style-type: none;
            margin-top:1rem;
            
            li{
                margin-right:1.25rem;
                a{
                    text-decoration: none;
                    color:#000;
                    outline: none;
                }

            }
        }
    }
    div.pic{
        display:flex;

        ul{ 
            display:flex;
            flex-wrap:wrap;
            list-style-type: none;
            border: 1px solid;
            margin-left:2.25rem;

            li{
                padding:2rem;
                a{
                    text-decoration: none;
                    color:#000;
                    font-weight: 400;
                    
                    img{
                        width:25vw;
                        height:20vw;
                        // border:1px solid;
                        box-shadow: 0 8px 6px -6px rgb(100, 100, 100);
                    }
                    p{
                        margin:1rem;
                        line-height: 2;
                    }
                }
            }
        }
    }
    
    button.viewmore{
        background-color: #37455E;
        color:#fff;
        font-size:1.25rem;
        border:none;
        border-radius: 3px;
        padding:0.8rem 1.25rem;
        position: absolute;
        bottom:2px;
        left:5%;
        cursor: pointer;
        transition:all 0.5s;
    }
    button.viewmore:hover{
        background-color: #fff;
        color:#000;
        border:1px solid;
    }
    i{
        padding-right:15px;
    }
}

section.third{  
    display:flex;
    flex-direction: column;

    min-height:70vh;
    width:100%;
    div.title{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:4rem;

        h3{
            font-size:2rem;
        }
        button.viewall{
            background-color: #fff;
            border:1px solid #000;
            color:#000;
            font-size:1.25rem;
            cursor: pointer;
            border-radius: 3px;
            padding:1rem 2rem;
            transition:all 0.5s;
        }
        button.viewall:hover{
            background-color: #37455E;
            color:#fff;
            border:none;

        }

    }
    div.pic{
        display:flex;
        justify-content: center;
        ul{
            display:flex;
            flex-wrap:wrap;
            list-style-type: none;

            li{
                padding:2rem;
                img{
                    width:25vw;
                    height:25vw;
                }
                p{
                    color:#da0024;
                    font-size:0.75rem;
                    text-align: center;
                    padding-top:2rem;
                }
            }
        }
    }
}

section.forth{
    margin-top:5rem;

    div.slogan{
    ul{ 
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin:1rem;
        li{ 
            display:flex;
            justify-content: center;
            align-items: center;
            padding:1rem;
            img{
                padding:1rem 2rem;
            }
        }
    }
}
}

section.fifth{
    overflow-x: hidden;
    position: relative;
    margin-top:5rem;

    div.store{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img{
            background-position: center;
            background-size: cover;
        }
        div{
            width:30vw;
            height:20vw;
            display:flex;   
            position:absolute;

            
            div.white{
                display:flex;
                justify-content: center;
                align-items: center;
                padding:0.5rem 2rem;
                background-color: #fff;

        p{
            padding:1.75rem;
            border:1px solid;
            line-height: 2.5;
        }
        }
        }
    }
    button.store{
        background-color: #37455E;
        color:#fff;
        font-size:1.2rem;
        border:none;
        border-radius: 3px;
        position: absolute;
        bottom:30%;
        left:50%;
        cursor: pointer;
        transition:all 0.5s;
        padding:1rem 2rem;
    }
    button.store:hover{
        background-color: #fff;
        color:#000;
        border:1px solid;
    }

    i{
        margin-right:20px;
    }
}

footer.footer{
        display:flex;
        justify-content: center;
        margin:3rem;
        div.menu{
            padding:2rem;

        h3{
            color: #37455E;
        }
        ul{
            padding-right:1rem;
            list-style-type: none;
            li{
                padding-top:1rem;
                a{
                    text-decoration: none;
                    color: #37455E;
                }
            }

        }
        ul::before{
            display:block;
            content:"";
            width:30px;
            height:3px;
            color:#da0024;
            margin-bottom:18px;
        }
    
    }
    div.media-country{
        padding:5rem 9rem;
        div.media{
            padding-bottom:3rem;
        img{
            padding-right:1rem;
        }
    }
    div.country{
        p{
            color:#37455E;
            font-size: 0.8rem;
            line-height: 2;
        }
        select.select{
            background-image:url('https://www.jins.com/tw/images/icon/down-blue.svg');
            background-repeat: no-repeat;
            appearance: none;
            background-position: right 25px center;
            border:1px solid #000;
            outline: 0;
            padding:1rem 5rem 1rem 1rem;
            border-radius: 5px;
            color:#37455E;
        }
    }
    }
}

    


// 手機版
@media screen and(max-width:1320px) {
    .mb-none{
        display:none;
    }

    section.second{
        div.pic{
         ul{
             li{
                 a{
                     display:flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                    img{
                        width:50vw;
                        height:30vw;
                    }
                 }
             }
         }
        }
        button.viewmore{
            left:30%;
        }
    }
    section.third{
        div.title{
            button.viewall{
            font-size:1rem;
            padding:0.5rem 1rem;
        }
        }
        
        div.pic{
            ul{
                li{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:2rem;
                       img{
                        width:60vw;
                        height:60vw;
                    }
                }
            }
           }
    }
    section.forth{
        div.slogan{
            flex-direction: column;
            ul{
                li{
                    flex-direction: column;

                    p{
                        text-align: center;
                    }
                }
        }
    }
    
    }

    section.fifth{
        div.store{
            div{
                width:50vw;
                height:35vw;
                div.white{
                    p{
                        padding:1rem;
                        text-align: center;
                    }
                }
            }
        }
        button.store{
            left:40%;
            bottom:30%;
        }
    }
    footer.footer{
        display:flex;
        flex-direction: column;
        margin-top:1rem;
        div.menu{
            padding:0.5rem;
            background-image:url('https://www.jins.com/tw/images/icon/down-blue.svg');
            background-repeat: no-repeat;
            background-position: right 25px center;
            h3{
                border-bottom:1px solid #37455E;
            }
        }
        div.media-country{
            padding:0.5rem;
            div.media{
                margin-top:1rem;
                padding-bottom:1.5rem;
            }
        }
    }    

}


@media screen and(max-width:768px){
    section.fifth{
        div.store{
            div{
                width:80vw;
                height:80vw;
                div.white{

                    p{
                        padding:0.75rem;
                        text-align: center;
                    }
                }
            }
        }
        button.store{
            padding:0.5rem 1rem;
            left:30%;
            bottom:30%;
        }
    }    
}


// 電腦版
@media screen and(min-width:1320px){
    .pc-none{
        display:none;

    }
}


