footer.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#807E7F;
    padding:1.5rem 2rem;
    a{  
        padding:0rem 2rem;
        font-size:1.5rem;
        color:#fff;
        line-height: 1.5;
    }
    i{
        padding-right:1.5rem;
    }
    p{
        font-size:1.5rem;
        color:#fff;
    }
}