*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#000;
}

@import './nav';
@import './footer';
@import './homepage';
@import './about';
@import './project';
@import './contact';
@import './error';
